.header
{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;

}
.logo
{
    font-weight: bold;
}
.link
{
    display: flex;
    align-self: center;
}